<!DOCTYPE html>
<html>
  <head>
    <title>Twofacedbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
      <script type="text/javascript">
        window.facebookroundURL = "<%= image_url('facebookround.png') %>";
        window.searchURL = "<%= image_url('search.png') %>";
        window.home2URL = "<%= image_url('home.png') %>";
        window.homeURL = "<%= image_url('home2.png') %>";
        window.videoURL = "<%= image_url('video.png') %>";
        window.marketURL = "<%= image_url('market.png') %>";
        window.friendsURL = "<%= image_url('friends.png') %>";
        window.newsURL = "<%= image_url('news.png') %>";
        window.appsURL = "<%= image_url('apps.png') %>";
        window.messagesURL = "<%= image_url('messages.png') %>";
        window.bellURL = "<%= image_url('bell.png') %>";
        window.downarrowURL = "<%= image_url('downArrow.png') %>";
        window.logoutURL = "<%= image_url('logout.png') %>";
        window.video_colorURL = "<%= image_url('videoColor.png') %>";
        window.photo_colorURL = "<%= image_url('photoColor2.png') %>";
        window.photo_color2URL = "<%= image_url('photoColor.png') %>";
        window.smiley_colorURL = "<%= image_url('smileyColor.png') %>";
        window.likeURL = "<%= image_url('like.png') %>";
        window.likePostURL = "<%= image_url('likePost.png') %>";
        window.unlikePostURL = "<%= image_url('unlikePost.png') %>";
        window.commentsURL = "<%= image_url('comments.png') %>";
        window.linkedinURL = "<%= image_url('linkedin.png') %>";
        window.ghURL = "<%= image_url('gh.png') %>";
        window.menuDotsURL = "<%= image_url('menuDots.png') %>";
        window.editURL = "<%= image_url('edit.png') %>";
        window.deleteURL = "<%= image_url('delete.png') %>";
        window.userURL = "<%= image_url('userColor.png') %>";
        window.coverPhoto1URL = "<%= image_url('coverPhoto1.jpg') %>";
        window.editPicURL = "<%= image_url('editPic.png') %>";
        window.timerURL = "<%= image_url('timer.png') %>";
        window.heartURL = "<%= image_url('heart.png') %>";
        window.locationURL = "<%= image_url('location.png') %>";
        window.houseURL = "<%= image_url('house.png') %>";
        window.schoolURL = "<%= image_url('school.png') %>";
        window.workURL = "<%= image_url('work.png') %>";
        window.birthdayURL = "<%= image_url('birthday.png') %>";
        window.saveIconURL = "<%= image_url('saveIcon.png') %>";
        window.mikeSLogoURL = "<%= image_url('Mike-S-logos.jpeg') %>";
        window.EHPSLogoURL = "<%= image_url('EHPSLogo.png') %>";
        window.CPGsmallLogoURL = "<%= image_url('CPGsmallLogo.png') %>";
      </script>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@1,300&family=Roboto:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
      </style>
      
      <meta property="og:title" content="Twofacedbook" />
      <meta property='og:image' width=250 height=250 content="<%= image_url('facebookround.png') %>"/>
      <meta property="og:description"
        content="TwoFacedBook is a clone of Facebook using PostgreSQL, Ruby on Rails, React, and Redux."
      />
      <meta property="og:url"
        content="https://twofacedbook.herokuapp.com/"
      />



  </head>

  <body>
    <%= yield %>
  </body>
</html>
